/frontend/node_modules/
/backend/Cartshare/target/classes
/.vscode
/backend/.vscode
=======
 backend/Cartshare/target/classes
 
target/
bin/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
*.class
